.header {
    border: 3px solid orangered;
    margin-bottom: 5px;
    text-align: center;
}

.left-sidebar {
    display: none;
    border: 3px solid orangered;
    text-align: center;
}

.right-sidebar {
    border: 3px solid orangered;
    text-align: center;
}

.listing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    list-style: none;
    gap: 10px;
}

.listing li {
    border: 2px solid orange;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.listing li h2 {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px;
}

.listing .cta a {
    margin-top: auto;
    border-top: 2px solid orange;
    font-size: 30px;
    color: orange;
}

.listing .body {
    padding: 10px;
}

.footer {
    border: 3px solid orangered;
    text-align: center;
}